aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
asgiref
attrs
autobahn
Automat
certifi
cffi
channels
channels-redis
charset-normalizer
click
click-default-group
constantly
crispy-bootstrap5
cryptography
daphne
dataclasses-json
distlib
distro
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-debug-toolbar
django-environ
django-filter
django-htmx
django-sslcommerz
djangorestframework
djangorestframework-simplejwt
EasyProcess
entrypoint2
filelock
frozenlist
fsspec
gunicorn
h11
httpcore
httpx
httpx-sse
huggingface-hub
hyperlink
idna
incremental
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-openai
langchain-text-splitters
langsmith
llm
Markdown
MarkupSafe
marshmallow
MouseInfo
mpmath
msgpack
mss
multidict
mypy-extensions
mysqlclient
networkx
numpy
openai
opencv-contrib-python
orjson
packaging
pillow
platformdirs
pluggy
propcache
protobuf
psycopg2-binary
puremagic
pyasn1
pyasn1_modules
PyAutoGUI
pycparser
pydantic
pydantic-settings
pydantic_core
PyGetWindow
PyJWT
PyMsgBox
pyOpenSSL
pyperclip
PyRect
pyscreenshot
PyScreeze
python-dateutil
python-decouple
python-dotenv
python-ulid
pytweening
pytz
PyYAML
redis
regex
requests
requests-toolbelt
rubicon-objc
safetensors
scikit-learn
scipy
sentence-transformers
sentencepiece
service-identity
setuptools
six
sniffio
SQLAlchemy
sqlite-fts4
sqlite-migrate
sqlite-utils
sqlparse
sslcommerz-lib
sympy
tabulate
tenacity
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
Twisted
txaio
typing-inspect
typing_extensions
urllib3
virtualenv
wheel
yarl
zope.interface
